@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: black;
  --background-start-rgb: white;
  --background-end-rgb: 255, 255, 255;
}


body {
  color: rgb(var(--foreground-rgb));

}



.input_class_1 {
  padding: 0 !important;
  min-height: 37px;

}


.ant-upload {
  width: 150px !important;
  height: 150px !important;
}


.p-0{
  padding: 0 !important;
}